# Rust
target/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment / Secrets
.env
.secret
*.local

# Logs and Temporary files
tmp/
*.log
*.tmp
dist/

# Konform specific cache
.konform_cache/

# Python
.coverage
